/* Footer CSS Starts */
footer{
    text-align: center;
    padding-top: 70px;
    p{
        font-family: Sacramento,cursive;
        color: #009ca8;
        font-size: 70px;
        padding-bottom: 40px;
    }
    img{
        height: 240px;
        margin-bottom: -5px;
    }
}
/* Footer CSS Ends */